body {
    background-color: lightgray;
}

.endpoint {
    font-size: 25px;
}

.response {
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: black solid 1px;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    overflow: auto;
}

.error {
    border: rgb(82, 2, 2) solid 2px;
    background-color: #f4b0b9;
}

.wrapper {
    float: left;
}

.payload {
    width: 400px;
    height: 200px;
    background-color: #fff;
    border: black solid 1px;
    margin: 5px;
    padding: 5px;
}